
.total{
    display: flex;
    flex-direction: column;
    gap: 25px;

    padding: 20px 10px;

    position: relative;

    background-color: var(--color-grey-4);
}
.total > h3{
    color: var(--color-grey-1);
    font: var(--font-title-3);
}

.total > p {
    position: absolute;

    color: var(--color-grey-2);

    right:10px ;
    top: 20px;
}